#sporocilo {
/*    border-style: solid;
    border-color: black;
    border-width: medium;*/

    width: 25%;
    text-align: center;
    margin: 0 auto;
    }

.msg-success {
    background-color: darkseagreen;
    color: white;
}

.msg-error {
    background-color: darkred;
    color: white;
}

.msg-warning {
    background-color: darkorange;
    color: black;
}